.container {
  position: relative;
  display: flex;
  justify-content: center;
}

.rectangle::before {
  content: "";
  position: absolute;

  z-index: -4;
  
  width: 100vw;
  height: 100vh;
  
  background-color: #343434;
  transform: translate(0, -100%);
}

.rectangle::after {
  content: "";
  position: absolute;
  z-index: -4;
  
  width: 100vw;
  height: 100vh;
  
  background-color: #343434;
}

.curveTop {
  position: absolute;
  z-index: -1;
  
  width: 100vw;
  height: 9999px;

  border-radius: 9999px;
  
  background-color: white;
  transform: translateY(-100%);
}

.curveBottom {
  position: absolute;
  z-index: -1;
  
  width: 100vw;
  height: 9999px;

  border-radius: 9999px;
  
  background-color: #343434;
}

/* 
This is necessary because when screens width are bigger than 1530px,
the curves don't work properly, so the curve's width needs to be a little bit larger
 */
@media (min-width: 1230px) {
  .curveTop, .curveBottom {
    width: calc(100vw + (100vw - 1230px) / 4);
  }
}
