.container {
  position: relative;
  display: flex;
  justify-content: center;
}

.rectangle::before {
  content: "";
  position: absolute;

  z-index: -4;
  
  width: 100vw;
  height: 100vh;
  
  background-color: #343434;
  transform: translate(0, -100%);
}

.rectangle::after {
  content: "";
  position: absolute;
  z-index: -4;
  
  width: 100vw;
  height: 100vh;
  
  background-color: #343434;
}

.curveTop {
  position: absolute;
  z-index: -1;
  
  width: 2000px;
  height: 2000px;

  border-radius: 9999px;
  
  background-color: white;
  transform: translateY(-100%);
}

.curveBottom {
  position: absolute;
  z-index: -1;
  
  width: 2000px;
  height: 2000px;

  border-radius: 9999px;
  
  background-color: #343434;
}

/* @media (max-width: 386px) {
}
@media (max-width: 462px) {}
@media (max-width: 640px) {}
@media (max-width: 768px) {}
 */
@media (max-width: 1536px) {
  .curveTop, .curveBottom {
    width: 1540px;
    height: 1540px;
  }
}

@media (max-width: 1280px) {
  .curveTop, .curveBottom {
    width: 1300px;
    height: 1300px;
  }
}

@media (max-width: 1024px) {
  .curveTop, .curveBottom {
    width: 1130px;
    height: 1130px;
  }
}