.circle {
  position: relative;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  background: linear-gradient(40deg, #FF0080,#FF8C00 70%);
  margin: auto;
}

.crescent {
  position: absolute;
  border-radius: 100%;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  transform: scale(0);
  transform-origin: top right;
  transition: transform .6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.circle_dark{
  position: relative;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  margin: auto;
  background: linear-gradient(40deg, #8983F7, #A3DAFB 70%);
}

.crescent_dark{
  position: absolute;
  border-radius: 100%;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  transform-origin: top right;
  transition: transform .6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: scale(1);
  background: #343434;
}
