.navbar {
  background: none;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.content {
  padding: 50px;
  min-height: calc(100vh - 135px);
  margin: auto;
}

.footer {
  text-align: center;
}
