.logo {
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
  cursor: pointer;
}

.logo_collapsed {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 35px;
  text-align: center;
  text-transform: capitalize;
}

.avatar {
  margin-bottom: 5px;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background-color: #fff;
}

.menu * {
  max-width: 100%;
}

.primary {
  flex-grow: 1;
  height: max-content;
}

.secondary {
  height: max-content;
  padding-bottom: 10px;
}
