@media (min-width: 1030px) {
  .fish2-fish {
    transform-origin: 13px 32px;
  }

  .fish2-fish .fish-wrapper {
    width: 45px;
    height: 108px;
  }

  .fish2-fish .fish-normal {
    width: 30px;
    height: 108px;
    background-image: url("/app/koi/fish2/fish_normal.svg");
    animation: fish2-normal-animation 0.5s steps(16) infinite;
  }

  .fish2-fish .fish-turn-soft {
    width: 34px;
    height: 108px;
    background-image: url("/app/koi/fish2/turn_soft.svg");
    animation: fish2-turn-soft-animation 0.5s steps(9);
  }

  .fish2-fish .fish-turn-medium {
    width: 38px;
    height: 108px;
    background-image: url("/app/koi/fish2/turn_medium.svg");
    animation: fish2-turn-medium-animation 0.5s steps(9);
  }

  .fish2-fish .fish-turn-hard {
    width: 50px;
    height: 108px;
    background-image: url("/app/koi/fish2/turn_hard.svg");
    animation: fish2-turn-hard-animation 0.5s steps(8);
  }

  /* <-- Fish Fin --> */
  .fish2-fish .fish-fin {
    width: 14px;
    height: 16px;
    background-image: url("/app/koi/fish2/fin.svg");
    animation: fish2-fin-animation 0.5s steps(15) infinite;
  }

  .fish2-fish .fish-fin-left {
    position: absolute;
    top: 18%;
    left: -20%;
  }

  .fish2-fish .fish-fin-right {
    position: absolute;
    top: 18%;
    left: 47%;
    transform: scale(-1, 1);
  }

  @keyframes fish2-normal-animation {
    from {
      background-position: 0;
    }
    to {
      background-position: -480px;
    } /* <-- width of spritesheet */
  }

  @keyframes fish2-turn-soft-animation {
    from {
      background-position: 0;
    }
    to {
      background-position: -306px;
    } /* <-- width of spritesheet */
  }

  @keyframes fish2-turn-medium-animation {
    from {
      background-position: 0;
    }
    to {
      background-position: -342px;
    } /* <-- width of spritesheet */
  }

  @keyframes fish2-turn-hard-animation {
    from {
      background-position: 0;
    }
    to {
      background-position: -400px;
    } /* <-- width of spritesheet */
  }

  @keyframes fish2-fin-animation {
    from {
      background-position: 0;
    }
    to {
      background-position: -210px;
    } /* <-- width of spritesheet */
  }
}
