.buttonsContainer {
  margin: auto;
  display: block;
  width: fit-content;
}

.button {
  margin-right: 8px;
  margin-left: 8px;
  border-width: 1px;
  padding: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.main {
  margin: auto;
  display: flex;
  height: 100vh;
  max-width: 768px;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: auto;
  display: block;
  text-align: center;
}

.title {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 48px;
  font-weight: bold;
}

@media (min-width: 640px) {
  .title {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.subtitle {
  margin-top: 24px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 640px) {
  .subtitle {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.status {
  margin-top: 12px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 640px) {
  .status {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
