.title {
  display: block;
  font-size: 4rem !important;
  font-weight: bolder;
}

.header {
  margin-bottom: 5rem;
}

.blogContainer {
  margin-right: 5rem;
  margin-bottom: 5rem;
  margin-left: 5rem;
}

.author {
  font-size: 1.5rem;
}

.authorImage {
  float: left;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.dateWrapper {
  margin-top: 0.5rem;
}

.calendar {
  float: left;
  margin-right: 0.4rem;
  margin-left: 0.4rem;
  font-size: 1.2rem;
}
