.markdown {
    width: 70vw!important;
    height: auto;
    margin: auto;
    min-width: 400px;
}

.markdown h1 {
    font-size: 3rem!important;
    font-weight: bolder;
}

.markdown h2 {
    font-size: 2rem!important;
    font-weight: bold;
}

.markdown h3 {
    font-size: 1.5rem!important;
    font-weight: bold;
}

.markdown a {
    color: blue!important;
    text-decoration: underline;
}

.markdown ul {
    list-style: disc;
}

.markdown ol {
    list-style: decimal;
}