.title {
    font-size: 4rem!important;
    font-weight: bolder;
    display: block;
}

.header {
    margin-bottom: 5rem;
}

.blogContainer {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
}

.author {
    font-size: 1.5rem;
}