.navbar {
  background: none;
  padding: 0;
  margin: 0;
}

.content {
  padding: 50px;
  min-height: calc(100vh - 135px);
}

.main {
  min-height: calc(100vh - 235px);
  padding: 24px;
  background: #fff;
}

.footer {
  text-align: center;
}
