.rectangle {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 200px;
}

.rectangle::after {
  position: absolute;
  z-index: -3;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #343434;
  transform: translate(0%, -435px);
}

.curve {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 200px;
}

.curve::before {
  position: absolute;
  z-index: -1;
  display: block;
  width: 110%;
  height: 100%;
  content: "";
  background-color: white;
  border-bottom-right-radius: 9999px;
  transform: translate(0%, -435px);
}

.curve::after {
  position: absolute;
  z-index: -2;
  display: block;
  width: 120%;
  height: 100%;
  content: "";
  background-color: #343434;
  border-top-left-radius: 9999px;
  transform: translate(-10%, -235px);
}

.base {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 900px;
}

.base::after {
  position: absolute;
  z-index: -4;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #343434;
  transform: translate(0%, 665px);
}

@media (min-width: 386px) {
  .rectangle {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 200px;
  }

  .rectangle::after {
    position: absolute;
    z-index: -3;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #343434;
    transform: translate(0%, -365px);
  }

  .curve {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 200px;
  }

  .curve::before {
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: white;
    border-bottom-right-radius: 9999px;
    transform: translate(0%, -365px);
  }

  .curve::after {
    position: absolute;
    z-index: -2;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #343434;
    border-top-left-radius: 9999px;
    transform: translate(0%, -165px);
  }

  .base {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 900px;
  }

  .base::after {
    position: absolute;
    z-index: -4;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #343434;
    transform: translate(0%, 735px);
  }
}

@media (min-width: 462px) {
  .rectangle {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 200px;
  }

  .rectangle::after {
    position: absolute;
    z-index: -3;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #343434;
    transform: translate(0%, -340px);
  }

  .curve {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 200px;
  }

  .curve::before {
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: white;
    border-bottom-right-radius: 9999px;
    transform: translate(0%, -340px);
  }

  .curve::after {
    position: absolute;
    z-index: -2;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #343434;
    border-top-left-radius: 9999px;
    transform: translate(0%, -140px);
  }

  .base {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 900px;
  }

  .base::after {
    position: absolute;
    z-index: -4;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #343434;
    transform: translate(0%, 760px);
  }
}

@media (min-width: 640px) {
  .rectangle {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 2360px;
  }

  .rectangle::after {
    position: absolute;
    z-index: -3;
    display: block;
    width: 100%;
    height: 28%;
    content: "";
    background-color: #343434;
    transform: translate(0%, 1372px);
  }

  .curve {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 2950px;
  }

  .curve::before {
    position: absolute;
    z-index: -1;
    display: block;
    width: 185%;
    height: 30%;
    content: "";
    background-color: white;
    border-bottom-right-radius: 80%;
    transform: translate(0%, 1740px);
  }

  .curve::after {
    position: absolute;
    z-index: -2;
    display: block;
    width: 170%;
    height: 30%;
    content: "";
    background-color: #343434;
    border-top-left-radius: 80%;
    transform: translate(-40%, 2615px);
  }

  .base {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 2360px;
  }

  .base::after {
    position: absolute;
    z-index: -4;
    display: block;
    width: 100%;
    height: 260px;
    content: "";
    background-color: #343434;
    transform: translate(0%, 2700px);
  }
}

@media (min-width: 768px) {
  .rectangle {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 2360px;
  }

  .rectangle::after {
    position: absolute;
    z-index: -3;
    display: block;
    width: 100%;
    height: 28%;
    content: "";
    background-color: #343434;
    transform: translate(0%, 1382px);
  }

  .curve {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 2810px;
  }

  .curve::before {
    position: absolute;
    z-index: -1;
    display: block;
    width: 165%;
    height: 30%;
    content: "";
    background-color: white;
    border-bottom-right-radius: 9999px;
    transform: translate(0%, 1650px);
  }

  .curve::after {
    position: absolute;
    z-index: -2;
    display: block;
    width: 165%;
    height: 30%;
    content: "";
    background-color: #343434;
    border-top-left-radius: 9999px;
    transform: translate(-35%, 2493px);
  }

  .base {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 2360px;
  }

  .base::after {
    position: absolute;
    z-index: -4;
    display: block;
    width: 100%;
    height: 260px;
    content: "";
    background-color: #343434;
    transform: translate(0%, 2700px);
  }
}

@media (min-width: 1024px) {
  .rectangle {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 2360px;
  }

  .rectangle::after {
    position: absolute;
    z-index: -3;
    display: block;
    width: 100%;
    height: 28%;
    content: "";
    background-color: #343434;
    transform: translate(0%, 1375px);
  }

  .curve {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 2380px;
  }

  .curve::before {
    position: absolute;
    z-index: -1;
    display: block;
    width: 115%;
    height: 30%;
    content: "";
    background-color: white;
    border-bottom-right-radius: 9999px;
    transform: translate(0%, 1342px);
  }

  .curve::after {
    position: absolute;
    z-index: -2;
    display: block;
    width: 115%;
    height: 28%;
    content: "";
    background-color: #343434;
    border-top-left-radius: 9999px;
    transform: translate(-13%, 2055px);
  }

  .base {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 2360px;
  }

  .base::after {
    position: absolute;
    z-index: -4;
    display: block;
    width: 100%;
    height: 260px;
    content: "";
    background-color: #343434;
    transform: translate(0%, 2700px);
  }
}

@media (min-width: 1280px) {
  .rectangle {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 2360px;
  }

  .rectangle::after {
    position: absolute;
    z-index: -3;
    display: block;
    width: 100%;
    height: 28%;
    content: "";
    background-color: #343434;
    transform: translate(0%, 1385px);
  }

  .curve {
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 2380px;
  }

  .curve::before {
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    height: 28%;
    content: "";
    background-color: white;
    border-bottom-right-radius: 9999px;
    transform: translate(0%, 1400px);
  }

  .curve::after {
    position: absolute;
    z-index: -2;
    display: block;
    width: 100%;
    height: 28%;
    content: "";
    background-color: #343434;
    border-top-left-radius: 9999px;
    transform: translate(0%, 2065px);
  }

  .base {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 2360px;
  }

  .base::after {
    position: absolute;
    z-index: -4;
    display: block;
    width: 100%;
    height: 250px;
    content: "";
    background-color: #343434;
    transform: translate(0%, 2710px);
  }
}

@media (min-width: 1536px) {
  .rectangle {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 2360px;
  }

  .rectangle::after {
    position: absolute;
    z-index: -3;
    display: block;
    width: 100%;
    height: 28%;
    content: "";
    background-color: #343434;
    transform: translate(0%, 1420px);
  }

  .curve {
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 2380px;
  }

  .curve::before {
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    height: 28%;
    content: "";
    background-color: white;
    transform: translate(0%, 1435px);
    z-index: -1;
  }

  .curve::after {
    position: absolute;
    z-index: -2;
    display: block;
    width: 100%;
    height: 28%;
    content: "";
    background-color: #343434;
    border-top-left-radius: 9999px;
    transform: translate(0%, 2101px);
  }

  .base {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 2360px;
  }

  .base::after {
    position: absolute;
    z-index: -4;
    display: block;
    width: 100%;
    height: 270px;
    content: "";
    background-color: #343434;
    transform: translate(0%, 2747px);
  }
}
